*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;

}

html,body{
  height: 100%;
  width :100%;
}

body{
  background-color: black;
  
}

h1{
  position: absolute;
  top: 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  font-size: 50px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav{
  display : flex;
  align-items:center;
  justify-content:space-between ;
  padding: 20px 40px;
  background-color:rgb(84, 26, 36) ;
  

}

.nav div{
  display : flex;
  align-items:center;
  gap : 40px;
  
}